In [1]:
import pandas as pd

In [47]:
df = pd.read_csv("lat_long.csv",names=['id','lat','lon'])
lat_lon = {}
for i in range(1,df.shape[0]):
    #print(df.iloc[i])
    id,lat,lon = df.iloc[i]
    lat_lon[id] = [lat,lon]

lat_lon[df.iloc[0][0]] = [df.iloc[0][1],df.iloc[0][2]]
lat_lon

{'11': ['39.6128542', '-74.3629792'],
 '14': ['39.6130113', '-74.3629026'],
 '13': ['39.6132182', '-74.3628642'],
 '18': ['39.6133943', '-74.3628174'],
 '19': ['39.61354', '-74.3627608'],
 '20': ['39.6137546', '-74.3626727'],
 '23': ['39.6139079', '-74.3626152'],
 '21': ['39.6139539', '-74.3625615'],
 '22': ['39.6139424', '-74.362393'],
 '33': ['39.613904', '-74.3621746'],
 '30': ['39.6138389', '-74.3619025'],
 '35': ['39.6137947', '-74.3617297'],
 '32': ['39.6137623', '-74.3615538'],
 '31': ['39.6137163', '-74.3613354'],
 '34': ['39.6136473', '-74.3610787'],
 '40': ['39.6134711', '-74.3609714'],
 '36': ['39.6133025', '-74.3610366'],
 '38': ['39.6131799', '-74.3610826'],
 '37': ['39.6130458', '-74.3611247'],
 '39': ['39.6129078', '-74.3611592'],
 '41': ['39.6127776', '-74.3612473'],
 '50': ['39.6126818', '-74.3612875'],
 '4': ['39.6126473', '-74.3613565'],
 '6': ['39.612632', '-74.3614983'],
 '52': ['39.6126933', '-74.3616784'],
 '7': ['39.6127316', '-74.3618814'],
 '8': ['39.6127546', '-74.3620845'],
 '1': ['39.6128235', '-74.3623451'],
 '2': ['39.6128389', '-74.3625328'],
 '10': ['39.6131607', '-74.3626612'],
 '9': ['39.6131416', '-74.3625156'],
 '51': ['39.6130956', '-74.3622359'],
 '53': ['39.6130036', '-74.3618029'],
 '0': ['39.6129155', '-74.3613393'],
 '3': ['39.6134519', '-74.3624428'],
 '5': ['39.6133906', '-74.3621286'],
 '54': ['39.6133638', '-74.3619102'],
 '25': ['39.6132795', '-74.3616113'],
 '28': ['39.6132067', '-74.3612588'],
 '17': ['39.6137086', '-74.3625539'],
 '12': ['39.6136818', '-74.3624121'],
 '15': ['39.6136358', '-74.3621937'],
 '16': ['39.6135745', '-74.3619255'],
 '27': ['39.6135285', '-74.3617148'],
 '26': ['39.6135056', '-74.3615692'],
 '24': ['39.6134481', '-74.3613048'],
 '29': ['39.6134136', '-74.3611668'],
 'id': ['lat', 'lon']}

In [45]:
lat_lon = {}
for i in range(1,df.shape[0]):
    #print(df.iloc[i])
    id,lat,lon = df.iloc[i]
    lat_lon[int(id)] = [float(lat),float(lon)]

lat_lon[df.iloc[0][0]] = [df.iloc[0][1],df.iloc[0][2]]
lat_lon

{11: [39.6128542, -74.3629792],
 14: [39.6130113, -74.3629026],
 13: [39.6132182, -74.3628642],
 18: [39.6133943, -74.3628174],
 19: [39.61354, -74.3627608],
 20: [39.6137546, -74.3626727],
 23: [39.6139079, -74.3626152],
 21: [39.6139539, -74.3625615],
 22: [39.6139424, -74.362393],
 33: [39.613904, -74.3621746],
 30: [39.6138389, -74.3619025],
 35: [39.6137947, -74.3617297],
 32: [39.6137623, -74.3615538],
 31: [39.6137163, -74.3613354],
 34: [39.6136473, -74.3610787],
 40: [39.6134711, -74.3609714],
 36: [39.6133025, -74.3610366],
 38: [39.6131799, -74.3610826],
 37: [39.6130458, -74.3611247],
 39: [39.6129078, -74.3611592],
 41: [39.6127776, -74.3612473],
 50: [39.6126818, -74.3612875],
 4: [39.6126473, -74.3613565],
 6: [39.612632, -74.3614983],
 52: [39.6126933, -74.3616784],
 7: [39.6127316, -74.3618814],
 8: [39.6127546, -74.3620845],
 1: [39.6128235, -74.3623451],
 2: [39.6128389, -74.3625328],
 10: [39.6131607, -74.3626612],
 9: [39.6131416, -74.3625156],
 51: [39.6130956, -74.3622359],
 53: [39.6130036, -74.3618029],
 0: [39.6129155, -74.3613393],
 3: [39.6134519, -74.3624428],
 5: [39.6133906, -74.3621286],
 54: [39.6133638, -74.3619102],
 25: [39.6132795, -74.3616113],
 28: [39.6132067, -74.3612588],
 17: [39.6137086, -74.3625539],
 12: [39.6136818, -74.3624121],
 15: [39.6136358, -74.3621937],
 16: [39.6135745, -74.3619255],
 27: [39.6135285, -74.3617148],
 26: [39.6135056, -74.3615692],
 24: [39.6134481, -74.3613048],
 29: [39.6134136, -74.3611668],
 'id': ['lat', 'lon']}

In [7]:
df.dtypes

id       int64
lat    float64
lon    float64
dtype: object

In [21]:
df["lat"] = df["lat"] + 25
df["lon"] = df["lon"] + 25
df["id"] = df["id"] + 25
df.tail(5)

    id         lat        lon
42  41  114.613574 -49.361925
43  52  114.613529 -49.361715
44  51  114.613506 -49.361569
45  49  114.613448 -49.361305
46  54  114.613414 -49.361167

In [23]:
df.shape

(47, 3)

In [34]:
df.shape

(48, 3)

In [43]:
for key,value in lat_lon.items():
    print(type(key),type(value[0]))

<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>

In [7]:
def write_csv(loc, csv_name):

    # open csv (csv_name)
    # write column names "lat", "lon"
    # write loc ([lat, lon]) in respective columns

    
    lat,lon = loc 
    with open(csv_name, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)

        
        header = ['lat', 'lon'] 
        writer.writerow(header)

        data = [lat,lon]  
        writer.writerow(data)

In [2]:
import os
import csv

In [9]:
write_csv([4,5],"live_ll.csv")